<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>19/10/23 20:03:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FavouriteApi.doFavoriteTest(java.lang.String, java.lang.String)[pri:0, instance:codebreaker.FavouriteApi@887af79]">doFavoriteTest</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/10/23 20:03:28</td>   <td>-679</td> <td title="&gt;&gt;Specifications.setup()[pri:0, instance:codebreaker.FavouriteApi@887af79]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
</table>
