<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8cc0ba">  <td>19/10/24 12:27:21</td>   <td>0</td> <td title="&gt;&gt;Specifications.setup()[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1316864772</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/10/24 12:27:22</td>   <td>617</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Specifications.compleObject(java.lang.String, org.testng.ITestContext)[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">&gt;&gt;compleObject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1316864772</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/10/24 12:27:22</td>   <td>1158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Specifications.beforeMethod(java.lang.reflect.Method)[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1316864772</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/10/24 12:27:26</td>   <td>5155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FavouriteApi.pushBatchVerification(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">pushBatchVerification</td> 
  <td>main@1316864772</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/10/24 12:27:28</td>   <td>6985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Specifications.afterMethod(org.testng.ITestResult)[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1316864772</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/10/24 12:27:29</td>   <td>7227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Specifications.beforeMethod(java.lang.reflect.Method)[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1316864772</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/10/24 12:27:31</td>   <td>9627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FavouriteApi.pushBatchVerification(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">pushBatchVerification</td> 
  <td>main@1316864772</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/10/24 12:27:32</td>   <td>11199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Specifications.afterMethod(org.testng.ITestResult)[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1316864772</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/10/24 12:27:33</td>   <td>11231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Specifications.beforeMethod(java.lang.reflect.Method)[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1316864772</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/10/24 12:27:35</td>   <td>13507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FavouriteApi.pushBatchVerification(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">pushBatchVerification</td> 
  <td>main@1316864772</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/10/24 12:27:36</td>   <td>14833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Specifications.afterMethod(org.testng.ITestResult)[pri:0, instance:codebreaker.FavouriteApi@5b87ed94]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1316864772</td>   <td></td> </tr>
</table>
